body {
    font-family: sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
  }

.box { 
    width: 400px;
    height: 1000px;
    background-color: white;

}

.title {
    color:black;
}